@model EventViewModel
@using event_management_asp_project.Models.ViewModels
@{
    ViewData["Title"] = "FindEvent";
}

<h1>@ViewBag["Title"]</h1>

<h4>Find By:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FindEvent">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <table class="table hover">
        <thead>
            <tr class="table-dark">
                <th>
                    <label asp-for="@Model.Events!.FirstOrDefault()!.Title"></label>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model is null || Model.Events is null || Model.Events.Count() == 0)
            {
                <tr>
                    <th colspan="3">
                        No Students found!!!
                    </th>
                </tr>
            }
            else
            {
                @foreach (var item in Model.Events!)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
