@model Reservation

<div class="mb-1">
    <label asp-for="Venue!.Name" class="form-label"></label>
    <input asp-for="Venue!.Name" class="form-control" disabled  />
</div>
<div class="mb-1">
    <label asp-for="Venue!.Location" class="form-label"></label>
    <input asp-for="Venue!.Location" class="form-control" disabled />
</div>
<div class="mb-1">
    <label asp-for="Venue!.Service" class="form-label"></label>
    <input asp-for="Venue!.Service" class="form-control" disabled />
</div>
<div class="mb-1">
    <label asp-for="Venue!.Capacity" class="form-label"></label>
    <input asp-for="Venue!.Capacity" class="form-control" disabled />
</div>
<div class="mb-1">
    <label asp-for="ReservationDate" class="form-label"></label>
    <input asp-for="ReservationDate" class="form-control" disabled />
</div>
<div hidden>
    <label asp-for="ReservationId" class="form-label"></label>
    <input asp-for="ReservationId" class="form-control" />
</div>
<div hidden>
    <label asp-for="EventId" class="form-label"></label>
    <input asp-for="EventId" class="form-control" />
</div>

@* Must be used
@* <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div> *@