@model Reservation

<div>
    <label asp-for="ReservationDate"></label>
    <span>: @(Model.ReservationDate)</span>
</div>
<div>
    <label asp-for="Venue!.Name"></label>
    <span>: @(Model.Venue!.Name)</span>
</div>
<div>
    <label asp-for="Venue!.Location"></label>
    <span>: @(Model.Venue!.Location)</span>
</div>

<div>
    <label asp-for="ReservationId"></label>
    <input asp-for="ReservationId"/>
</div>

<div hidden>
    <label asp-for="EventId"></label>
    <input asp-for="EventId" />
</div>


@* Must be used
@* <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div> *@