@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

    <img src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="">

    <div class="container section bg-transparent">
        <h1 class="mb-5">Manage your account</h1>
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

</section>
<!-- /Hero Section -->

@section Scripts {
    @RenderSection("Scripts", required: false)
}
