@{
    ViewData["Title"] = "About";
}
<main class="main">


    <!-- Page Title -->
    <div class="page-title" data-aos="fade" style="background-image: url(https://images.unsplash.com/photo-1486591978090-58e619d37fe7?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        <div class="container position-relative">
            <h1>About TheEvent</h1>
            <p>
                Welcome to TheEvent, your ultimate destination for seamless event management.
                Whether you're planning a corporate gathering, a wedding, or a community festival,
                we’re here to turn your vision into reality. Our platform simplifies every step
                of the event planning process, from organizing venues and coordinating schedules
                to managing guest lists and vendors. With TheEvent, you can focus on what truly
                matters—creating unforgettable experiences. Join us and make your next event a
                resounding success.
            </p>
            <nav class="breadcrumbs">
                <ol>
                    <li><a asp-action="Index">Home</a></li>
                    <li class="current">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- End Page Title -->
    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Gallery</h2>
            <p>Experience the event through our eyes, see the best moments.</p>
        </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                        "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "centeredSlides": true,
                      "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                      },
                      "breakpoints": {
                        "320": {
                          "slidesPerView": 1,
                          "spaceBetween": 0
                        },
                        "768": {
                          "slidesPerView": 3,
                          "spaceBetween": 20
                        },
                        "1200": {
                          "slidesPerView": 5,
                          "spaceBetween": 20
                        }
                      }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-1.jpg"><img src="~/assets/img/event-gallery/event-gallery-1.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-2.jpg"><img src="~/assets/img/event-gallery/event-gallery-2.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-3.jpg"><img src="~/assets/img/event-gallery/event-gallery-3.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-4.jpg"><img src="~/assets/img/event-gallery/event-gallery-4.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-5.jpg"><img src="~/assets/img/event-gallery/event-gallery-5.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-6.jpg"><img src="~/assets/img/event-gallery/event-gallery-6.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-7.jpg"><img src="~/assets/img/event-gallery/event-gallery-7.jpg" class="img-fluid" alt=""></a></div>
                    <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="~/assets/img/event-gallery/event-gallery-8.jpg"><img src="~/assets/img/event-gallery/event-gallery-8.jpg" class="img-fluid" alt=""></a></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section>
    <!-- /Gallery Section -->
    <!-- Team Member Section -->
    <section id="speakers" class="speakers section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Team Members<br></h2>

        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <img src="~/assets/img/speakers/Rashad.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="speaker-details.html">Rashad Al-Shakyasin</a></h4>
                                <span>Software Engineer</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <img src="~/assets/img/speakers/Mamon.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="speaker-details.html">Maamoun Alhaj Taher</a></h4>
                                <span>Software Engineer</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <img src="~/assets/img/speakers/Omar.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="speaker-details.html">Omar Ajaj</a></h4>
                                <span>Software Engineer</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

                <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="member">
                        <img src="~/assets/img/speakers/Rashad.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4><a href="speaker-details.html">Ahmad Jaber</a></h4>
                                <span>Computer Science</span>
                            </div>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- End Team Member -->

            </div>

        </div>

    </section>
    <!-- /Team Member Section -->
    <br />
    <br />
    <br />
    <br />
    <br />
</main>

<partial name="../Shared/PartialViews/_CopyrightFooterSection" />