@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section id="hero" class="hero section dark-background">

    <img src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" class="">

    <div class="container section bg-transparent">
        <h1>@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />

    </div>
</section>
